DEBUG=0
SECRET_KEY=yDQHfvLTdFgyk2DUEdhvGXqc3xxiuuqMA6ts1zdcGJAzKta6NGp40Q9L8wzX
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=database
SQL_USER=user
SQL_PASSWORD=pass
SQL_HOST=db
SQL_PORT=5432

DATABASE=postgres
